@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto+Slab:wght@200;400&family=Roboto:ital,wght@0,100;1,100&display=swap');

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
}

.post-header{
  padding: 2em 10em 2em 10em;
  background-color: #60445c;
  color: white;
}

.post-header > spam {
  background-color: rgba(255, 255, 255, 0.3);  
  padding: 6px;
  border-radius: 14px;
  font-size: 0.8rem;
}

spam > i {
  font-size: 0.9rem;
}

.post-header > h1 {
  line-height: 1.1;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0px;
}

h3 {
  font-weight: 100;
  line-height: 1.2;
  font-size: 1rem;
}

.user-card {
  display: flex;
  flex-direction: row;
  padding: 4px 8px 4px 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 35px;
  align-items: center;
}

.user-img {
  border-radius: 100px;
  width: 5rem;
  margin: 8px;
}

.user-info {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 30px 0.5rem 0px 1rem;
}

.share {
 padding-right: 50px;
}

.social-medias {
 width: 120px;
 margin: -30px 0px -50px 0px;
}

.share > a > p {
  margin-left: 11px;
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: initial;
}
.post-body {
  padding: 13px 12em 8px 12em;
  font-family: Roboto Slab;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin: auto;
  text-align: justify;
}

.app-bar {
  position: sticky;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
}

.app-logo {
  width: 36px;
}

.app-nav-link {
  text-decoration: none;
  color: #cd2358;
  font-weight: bold;
}

.app-bar-left {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 16px;
}

.app-bar-right {
  display: flex;
  margin-left: -16px;
  border: solid 1px;
  border-radius: 4px;
  padding: 10px;
  border-color: #cd2358;
}


.recent-posts-body {
  padding: 13px 7em 8px 12em;
  font-family: Roboto Slab;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: auto;
  text-align: justify;
}

.post-preview {
  border-bottom: solid 1px grey;
  display: flex;
  flex-direction: row;
}

.post-preview-text {
    flex: 2;
}

.post-preview-image {
  flex: 0;
  padding: 20px;
  display: flex;
  align-items: end;
}

.post-preview-image > img {
  width: 164px;
  height: 94px;
}

@media (max-width: 960px) {
  .post-header {
    padding: 2em 1em 2em 1em;
  }

  .post-header > h1 {
    font-size: 2rem;    
  }

  .post-body {
    padding: 1em 2em 1em 2em;
    font-size: 1.1rem;
  }

  .recent-posts-body {
    padding: 1em 2em 1em 2em;
  }
}

.contact {
  background-color: #cd2358;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.form-title {
  color: white;
}

.form {
  width: 45%  
}

form > div {
  padding: 7px;
}

input {
  padding: 5px;
  border-radius: 7px;
  border: 1px solid white;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

input::placeholder {
  color: white;
  text-transform: capitalize;
}

input:focus {
  outline: none;
}

textarea {
  padding: 5px;
  border-radius: 7px;
  width: 100%;
  border: 1px solid white;
  font-family: 'Roboto', sans-serif;
}

textarea::placeholder {
  color: white;
  text-transform: capitalize;
}

textarea:focus {
  outline: none;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

#name, #phone, #email, #message {
  text-indent: 5px;
  color: white;
  background-color: #cd2358;
}

#submit {
  color: #cd2358;
  font-size: 1.1rem;
  background-color: white;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #60445c;
  color: whitesmoke;
  border-top: 1px solid whitesmoke;
}